/* body */
body {
    background-image: none;
}

/* white page */
.content {
    background: white;
    padding: 10px;
    width: 100%;
    margin: auto;
}

/* title */
.title a {
    color: black;
    font-size: 32px;
    text-decoration: none;
}

.title a:hover {
    color: grey;
}

/* menu */
.hamburger {

}

.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: none;
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-item {
    float: left;
    border-right: 1px solid white;
}

.menu-item a {
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}
.menu-item :hover {
    background: grey;
}

h2 {
    color: red;
    border-bottom: 6px solid;
    margin-top: 24px;
    padding-bottom: 4px;
    background-color: lightgrey;
}

/* text */
p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    text-align: justify;
}

/* form */
* {
    box-sizing: border-box;
}

input, select, textarea {
    font-size: 16px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    font-size: 18px;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button], input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=button]:hover {
    background-color: #DC143C;
}

.form {
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 20px;
}

.form-label {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.form-field {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.zeile:after {
    content: "";
    display: table;
    clear: both;
}

.single-slide {
    background-position: center;
}

/* footer */
.footer {
    padding-top: 20px;
}

.footer p {
    text-align: center;
}

/* recaptcha layout */
.g-recaptcha {
    float: right;
}

/* Mediaqueries */
@media only screen and (min-device-width: 900px) {
    body {
        background-image: url("../img/bluecurls.svg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .content {
        width: 60%;
        padding: 50px;
    }

    .menu {
        display: block;
    }

    .hamburger {
        display: none !important;
    }

    .menu-item a {
        font-size: 16px;
    }

    p {
        font-size: 18px;
    }

    input, select, textarea {
        font-size: 16px;
    }
}