/* body */
body {
    background-image: url("img/bluecurls.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* white page */
.content {
    background: white;
    padding: 50px;
    width: 100%;
    margin: auto;
}

/* title */
.title a {
    color: black;
    font-size: 32px;
    text-decoration: none;
}

.title a:hover {
    color: grey;
}

/* menu */
.menu {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-item {
    float: left;
    border-right: 1px solid white;
}

.menu-item a {
    font-size: 22px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}
.menu-item :hover {
    background: grey;
}

h2 {
    color: red;
    border-bottom: 4px solid;
    margin-top: 24px;
    padding-bottom: 4px;
}

/* text */
p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    text-align: justify;
}

/* form */
* {
    box-sizing: border-box;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #DC143C;
}

.form {
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 20px;
}

.form-label {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.form-field {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.zeile:after {
    content: "";
    display: table;
    clear: both;
}

.single-slide {
    background-position: center;
}

/* footer */
.footer p {
    text-align: center;
}

@media only screen and (min-device-width: 968px) {
    .content {
        width: 60%;
    }
    .menu-item a {
        font-size: 16px;
    }
    p {
        font-size: 18px;
    }
}